.btn{
	.font-header;
	.transition(0.2s);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 40px;
	line-height: 40px;
	font-size: 19px;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	text-align: center;
	background: #008c9e;
}
.btn:hover,.btn-hover{
	background: #5b9400;
}