@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin,latin-ext);
@import url('../font/stylesheet.css');
@import url('../fontello/css/svetla-icons.css');
.font-primary{
	font-family: 'Open Sans', sans-serif;
}
.font-spec{
	font-family: 'Klavika', sans-serif;
}
.font-header{
	font-family: 'Klavika Condensed', sans-serif;
}
.font-icon{
	font-family: 'svetla-icons';
}
