.container{
	.clearfix;
	position: relative;
	width: 940px;
	padding: 0 10px;
	margin: auto;
	text-align: left;
}
.col-half{
	width: 460px;
	float: left;
	.col-half{
		width: 220px;
	}
	&.right{
		float: right;
	}
}
#page-header{
	.logo{
		padding: 39px 0 20px;
		float: left;
		a{
			.font-spec;
			display: block;
			width: 203px;
			height: 57px;
			padding: 28px 20px 0 320px;
			margin: 0 0 0 -53px;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 1.4;
			letter-spacing: 0.2em;
			color: @color-primary;
			text-decoration: none;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
}
#mainmenu{
	position: relative;
	z-index: 999;
}
#slideshow{
	position: relative;
	z-index: 1;
}
#col-left{
	float: left;
	width: 220px;
}
#col-main{
	float: right;
	width: 660px;
}
#container{
	margin: -20px 0 0;
	padding: 40px 0 0;
	background: url(../images/bg/06.png) no-repeat top;
}
#content{
	padding: 0 30px 30px 0;
}
#col-bottom{
	.col-inner{
		position: relative;
		border-top: 10px solid #ebece8;
		border-bottom: 10px solid #ebece8;
		&:before,&:after{
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			right: 0;
			height: 19px;
			border-left: 10px solid #ebece8;
			border-right: 10px solid #ebece8;
		}
		&:after{
			top: auto;
			bottom: 0;
		}
	}
}
#page-footer{
	.xart{
		float: right;
		width: 420px;
		padding: 32px 0;
		text-align: right;
		font-size: 10px;
		line-height: 1;
		text-transform: uppercase;
		img{
			float: right;
			margin: -3px -3px 0 7px;
		}
		a{
			text-decoration: none;
			color: @color-primary;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		bottom: -60px;
		right: 20px;
		height: 48px;
		width: 48px;
		text-indent: -9999px;
		line-height: 48px;
		text-align: center;
		background: @color-link;
		color: #fff;
		text-decoration: none;
		-webkit-opacity: 0.8;
		-moz-opacity: 0.8;
		opacity: 0.8;
		filter:alpha(opacity=80);
		&:before{
			.font-icon;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e805';
			font-size: 28px;
		}
		&:hover{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}