.mod_jflanguageselection{
	.transition(0.2s);
	position: relative;
	float: right;
	width: 60px;
	margin: 0 9px 0 0;
	height: 161px;
	overflow: hidden;
	&:hover{
		width: 238px;
	}
	&:before{
		.font-icon;
		.border-radius(30px);
		content: '\e800';
		position: absolute;
		top: 61px;
		right: 0;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		font-size: 38px;
		color: #fff;
		background: @color-turq;
	}
	&:after{
		.transition(0.2s);
		position: absolute;
		content: '';
		top: 83px;
		right: 58px;
		border: 8px solid transparent;
		border-right-width: 0;
		border-left-width: 0;
		border-right-color: @color-turq;
	}
	&:hover{
		&:after{
			border-right-width: 13px;
		}
	}
	ul{
		.reset-ul;
		position: absolute;
		top: 71px;
		right: 80px;
		width: 150px;
		text-align: right;
		li{
			.reset-li;
			display: inline;
			a{
				.font-header;
				.border-radius(20px);
				display: inline-block;
				margin: 0 0 5px 5px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				font-size: 18px;
				text-align: center;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				background: @color-lightgreen;
				&:hover{
					background: @color-turq;
				}
			}
		}
	}
}
.mod_search{
	.transition(0.2s);
	position: relative;
	float: right;
	width: 60px;
	margin: 0 9px 0 0;
	height: 161px;
	overflow: hidden;
	&:hover{
		width: 238px;
	}
	&:before{
		.font-icon;
		.border-radius(30px);
		content: '\e801';
		position: absolute;
		top: 61px;
		right: 0;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		font-size: 38px;
		color: #fff;
		background: @color-turq;
	}
	&:after{
		.transition(0.2s);
		position: absolute;
		content: '';
		top: 83px;
		right: 58px;
		border: 8px solid transparent;
		border-right-width: 0;
		border-left-width: 0;
		border-right-color: @color-turq;
	}
	&:hover{
		&:after{
			border-right-width: 13px;
		}
	}
	form{
		position: absolute;
		top: 61px;
		right: 0;
		width: 233px;
		input[type=text]{
			float: left;
			border: 1px solid #ebece8;
			margin: 12px 0;
			width: 140px;
			height: 15px;
			padding: 8px 9px;
			font-size: 12px;
			background: #ebece8;
			outline: 0;
			&:focus{
				border-color: @color-turq;
			}
		}
		input[type=submit]{
			float: right;
			border: 0;
			margin: 0;
			width: 60px;
			height: 60px;
			padding: 0;
			background: none;
			outline: 0;
		}
	}
}
.mod_custom-kontakt{
	.transition(0.2s);
	position: relative;
	float: right;
	width: 60px;
	margin: 0 9px 0 0;
	height: 161px;
	overflow: hidden;
	&:hover{
		width: 238px;
	}
	&:before{
		.font-icon;
		.border-radius(30px);
		content: '\e813';
		position: absolute;
		top: 61px;
		right: 0;
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		font-size: 38px;
		color: #fff;
		background: @color-turq;
	}
	&:after{
		.transition(0.2s);
		position: absolute;
		content: '';
		top: 83px;
		right: 58px;
		border: 8px solid transparent;
		border-right-width: 0;
		border-left-width: 0;
		border-right-color: @color-turq;
	}
	&:hover{
		&:after{
			border-right-width: 13px;
		}
	}
	.content{
		position: absolute;
		top: 53px;
		right: 80px;
		width: 142px;
	}
	.email{
		.font-spec;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 0.21em;
		a{
			color: @color-primary;
			text-decoration: none;
		}
	}
	.phone{
		.font-header;
		font-size: 21px;
		line-height: 1.1;
		letter-spacing: 0.03em;
		color: @color-lightgreen;
		white-space: nowrap;
	}
	address{
		text-align: right;
		font-size: 13px;
		line-height: 1.2;
		padding: 5px 0 0;
		font-style: normal;
	}
}
.mod_menu-main{
	.clearfix;
	margin: 0 0 20px;
	background: @color-lightgreen;
	&>ul{
		.reset-ul;
		.clearfix;
		position: relative;
		padding: 0 0 0 12px;
		&>li{
			.reset-li;
			position: static;
			float: left;
			padding: 0 25px;
			&>a{
				.font-header;
				.transition(0.2s);
				position: relative;
				display: block;
				float: left;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 22px;
				line-height: 1;
				white-space: nowrap;
				&:before{
					.font-header;
					content: '/';
					position: absolute;
					top: 28px;
					left: -24px;
					color: #fff;
					font-size: 23px;
					line-height: 1;
				}
				&:hover{
					color: @color-green;
				}
				&>span{
					position: relative;
					display: block;
					float: left;
					padding: 28px 0 25px;
				}
			}
			&:first-child{
				a{
					&:before{
						display: none;
					}
				}
			}
			&.act{
				&>a{
					&>span{
						&:before{
							position: absolute;
							content: '';
							top: 0;
							left: 0;
							width: 100%;
							height: 8px;
							margin: 0;
							background: #fff url(../images/bg/02.png) no-repeat left bottom;
						}
					}
				}
			}
			&.has_child{
				a{
					&:after{
						.transition(0.2s);
						position: absolute;
						content: '';
						bottom: 0;
						left: 50%;
						border: 7px solid transparent;
						border-bottom: 0 solid @color-green;
					}
				}
				&:hover{
					&>a{
						&:after{
							border-bottom-width: 9px;
						}
					}
				}
			}
			.submenu{
				.transition(0.2s);
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				color: #fff;
				background: @color-green;
				height: 0;
				overflow: hidden;
				a{
					color: #fff;
				}
				.row{
					.clearfix;
					margin: 0 0 0 -20px;
					.col3,.col6{
						width: 220px;
						float: left;
						margin: 0 0 0 20px;
					}
					.col6{
						width: 460px;
					}
				}
				ul{
					.reset-ul;
					margin: 15px 0 15px 20px;
					li{
						.reset-li;
						padding: 0 0 0 13px;
						margin: 0 0 7px;
						line-height: 1.2;
						&:before{
							.font-primary;
							content: '/';
							color: #fff;
							top: 3px;
						}
						a{
							text-decoration: none;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
				.title{
					.font-header;
					font-size: 20px;
					line-height: 1;
					text-transform: uppercase;
					margin: 0 0 0 20px;
				}
				.item{
					.clearfix;
					background: darken(@color-green,5%);
					padding: 20px 17px;
					font-size: 13px;
					line-height: 1.3;
					margin: -25px 0;
					figure{
						margin: 0 0 18px;
					}
					h2{
						font-size: 25px;
						line-height: 1;
						color: @color-orange;
						margin: 0 0 8px;
						a{
							.transition(0.2s);
							color: @color-orange;
							text-decoration: none;
							&:before{
								.transition(0.2s);
								.font-icon;
								position: relative;
								top: 2px;
								content: '\e809';
								float: right;
								font-size: 22px;
								color: @color-lightgreen;
							}
							&:hover{
								color: #fff;
								&:before{
									-webkit-transform: rotate(-180deg);
									-moz-transform: rotate(-180deg);
									-ms-transform: rotate(-180deg);
									transform: rotate(-180deg);
									color: #fff;
								}
							}
						}
					}
					p{
						margin: 5px 0;
					}
				}
			}
			&:hover{
				.submenu{
					height: auto;
					padding: 25px 0;
				}
			}
		}
	}
}
.mod_custom-slideshow{
	position: relative;
	height: 267px;
	margin: 0 0 20px;
	background: @color-blue;
	&:before,&:after{
		position: absolute;
		content: '';
		bottom: 100%;
		width: 100%;
		height: 20px;
		background: url(../images/bg/03.png) no-repeat;
	}
	&:after{
		bottom: 0;
		top: 100%;
	}
	.mod-title{
		.font-header;
		position: absolute;
		z-index: 999;
		top: 35px;
		right: 40px;
		width: 386px;
		text-transform: uppercase;
		color: #fff;
		font-size: 36px;
		line-height: 1;
		small{
			.font-spec;
			display: block;
			text-align: right;
			font-size: 14px;
			line-height: 1.3;
			letter-spacing: 0.2em;
			margin: 0 57px 0 0;
		}
		a{
			color: #fff;
		}
	}
	.slide-image{
		position: absolute;
		top: 0;
		left: 0;
		width: 470px;
		height: 267px;
		overflow: hidden;
	}
	.slide-content{
		position: absolute!important;
		right: 0;
		top: 89px;
		width: 470px;
		height: 178px;
		color: #fff;
		overflow: hidden;
		a{
			color: #fff;
		}
		.item{
			.clearfix;
			padding: 0 30px;
			height: 178px;
			width: 410px;
			background: @color-blue;
			overflow: hidden;
			figure{
				.transition(0.8s);
				position: relative;
				width: 150px;
				height: 150px;
				float: left;
			}
			h2{
				.transition(0.8s);
				position: relative;
				float: right;
				width: 235px;
				color: #fff;
				margin: 27px 0 0;
				font-size: 23px;
				line-height: 1.3;
				letter-spacing: 0.02em;
				mark{
					.transition(0.8s);
					position: relative;
					display: block;
					background: none;
					color: @color-lightgreen;
					font-size: 20px;
					line-height: 1.2;
					letter-spacing: 0;
				}
			}
			&.cycle-slide{
				figure{
					top: 400px;
				}
				h2{
					left: -100px;
					mark{
						top: 20px;
						left: 900px;
					}
				}
				&.cycle-slide-active{
					figure{
						top: 0;
					}
					h2{
						left: 0;
						mark{
							top: 0;
							left: 0;
						}
					}
				}
			}
		}
	}
	.prev,.next{
		.transition(0.2s);
		position: absolute;
		z-index: 999;
		right: 433px;
		top: 103px;
		width: 60px;
		height: 60px;
		span{
			.transition(0.2s);
			.border-radius(30px);
			position: absolute;
			top: 0;
			left: 0;
			width: 60px;
			height: 60px;
			line-height: 54px;
			color: #fff;
			font-size: 34px;
			text-align: center;
			text-decoration: none;
			background: @color-blue;
			&:before{
				.transition(0.2s);
				position: relative;
				left: -5px;
			}
			&:hover{
				background: @color-turq;
				&:before{
					left: 0;
				}
			}
		}
	}
	.next{
		right: -23px;
		span{
			left: auto;
			right: 0;
			&:before{
				left: 5px;
			}
		}
	}
}
.mod_custom-obory{
	.container;
	min-height: 197px;
	margin-bottom: 20px;
	color: #fff;
	background: url(../images/bg/04.png) no-repeat top;
	.mod-left{
		width: 160px;
		padding: 23px 30px 0;
		float: left;
		background-color: @color-blue;
	}
	.mod-center{
		width: 460px;
		padding: 23px 30px 0;
		margin: 0 0 0 20px;
		float: left;
		background-color: @color-turq;
		ul{
			li{
				display: inline;
				padding: 0;
				&:before{
					position: static;
					margin: 0 7px 0 0;
				}
			}
		}
	}
	.mod-right{
		width: 120px;
		padding: 23px 0 0 15px;
		float: right;
		background-color: @color-turq;
	}
	.mod-title{
		.font-header;
		font-size: 20px;
		line-height: 1.1;
		text-transform: uppercase;
		margin: 0 0 10px;
	}
	ul{
		.reset-ul;
		li{
			.reset-li;
			line-height: 1.7;
			padding: 0 0 0 11px;
			&:before{
				.font-primary;
				content: '/';
				color: #fff;
				top: 7px;
			}
			a{
				color: #fff;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_newsflash_xart{
	position: relative;
	padding: 27px 50px 0 30px;
	margin: 0 0 20px;
	min-height: 263px;
	color: #fff;
	background: @color-green;
	a{
		color: #fff;
	}
	.mod-title{
		.font-header;
		position: relative;
		font-size: 28px;
		line-height: 1;
		padding: 0 0 0 80px;
		text-transform: uppercase;
		height: 77px;
		small{
			.font-spec;
			display: block;
			font-size: 12px;
			letter-spacing: 0.21em;
			line-height: 1.4;
		}
		&:before{
			.font-icon;
			position: absolute;
			left: 2px;
			top: 0;
			content: '\e80b';
			font-size: 52px;
		}
	}
	section{
		height: 180px;
		overflow: hidden;
	}
	article{
		position: relative!important;
		height: 90px;
		padding: 0 0 0 80px;
		time{
			.font-spec;
			position: absolute;
			top: -4px;
			left: 0;
			font-size: 38px;
			line-height: 1;
			sup,sub{
				.font-header;
				font-size: 21px;
				top: 0;
			}
			sup{
				top: -12px;
				left: 3px;
			}
			sub{
				top: 2px;
				left: -3px;
			}
		}
		h2{
			.font-primary;
			font-size: 13px;
			line-height: 15px;
			height: 15px;
			text-transform: none;
			overflow: hidden;
			margin: 0 0 4px;
			font-weight: bold;
		}
		p{
			font-size: 13px;
			line-height: 15px;
			margin: 0;
			overflow: hidden;
		}
	}
	.prev,.next{
		.transition(0.2s);
		position: absolute;
		top: 26px;
		right: 20px;
		color: #fff;
		font-size: 23px;
		line-height: 1;
		text-decoration: none;
		color: @color-lightgreen;
		&:hover{
			color: #fff;
		}
	}
	.next{
		top: 54px;
	}
}
.mod_poll{
	position: relative;
	padding:  18px 25px 40px;
	margin: 0 0 20px;
	min-height: 202px;
	color: #fff;
	background: @color-green;
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		text-transform: uppercase;
		padding: 0 0 0 32px;
		margin: 0 0 8px;
		&:before{
			.font-icon;
			content: '\e80c';
			position: absolute;
			top: -4px;
			left: -7px;
			font-size: 31px;
			line-height: 1;
		}
	}
	.question{
		.font-header;
		text-transform: uppercase;
		font-size:  25px;
		line-height: 1;
		color: @color-lightgreen;
		margin: 0 0 11px;
	}
	label{
		display: block;
		position: relative;
		padding: 0 0 0 30px;
		margin: 0 0 11px;
		text-decoration: underline;
		font-size: 13px;
		line-height: 1;
		cursor: pointer;
		&:hover{
			text-decoration: none;
		}
	}
	.radio{
		position: absolute;
		left: -2px;
		top: -4px;
		span{
			.border-radius(11px);
			display: block;
			width: 5px;
			height: 5px;
			border: 8px solid @color-lightgreen;
			cursor: default;
			&.checked{
				background: #fff;
			}
			input{
				-webkit-opacity: 0;
				-moz-opacity: 0;
				opacity: 0;
				filter:alpha(opacity=0);
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
				padding: 0;
				border: none;
				background: none;
				display: -moz-inline-box;
				display: inline-block;
				zoom: 1;
				text-align: center;
				width: 22px;
				height: 22px;
				cursor: default;
			}
		}
	}
	.buttons{
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		a,input{
			.btn;
			padding: 0;
			width: 50%;
			float: left;
			height: 40px;
			background: @color-lightgreen;
			&:hover{
				background: darken(@color-green,5%);
			}
		}
		a{
			line-height: 40px;
			background: @color-turq;
			&:hover{
				background: @color-blue;
			}
		}
	}
}
.mod_menu-custom{
	margin: 0 0 20px;
	background: @color-green;
	ul{
		.reset-ul;
		li{
			.reset-li;
			a{
				.transition(0.2s);
				.font-header;
				position: relative;
				display: block;
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 17px;
				line-height: 1;
				padding: 19px 10px 16px 54px;
				&:hover{
					background: @color-lightgreen;
					span{
						font-size: 36px;
					}
				}
				&:before{
					position: absolute;
					content: '';
					top: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgba(255,255,255,0.2);
				}
				span{
					position: absolute;
					left: 0;
					top: 0;
					width: 54px;
					height: 54px;
					text-align: center;
					font-size: 28px;
					line-height: 54px;
				}
			}
		}
	}
}
.mod_menu-tile{
	margin: 0 0 20px;
	ul{
		.reset-ul;
		li{
			.reset-li;
			a{
				.transition(0.2s);
				display: block;
				position: relative;
				height: 110px;
				width: 220px;
				color: #fff;
				text-decoration: none;
				overflow: hidden;
				background: @color-lightgreen;
				img{
					.transition(0.2s);
					position: absolute;
					left: 0;
					to: 0;
				}
				span{
					.transition(0.2s);
					position: absolute;
					left: 110px;
					top: 0;
					width: 110px;
					height: 110px;
					line-height: 100px;
					text-align: center;
					font-size: 54px;
					overflow: hidden;
					&.icon-eye{
						font-size: 64px;
					}
				}
				em{
					.font-spec;
					.transition(0.2s);
					position: absolute;
					left: 60px;
					top: 110px;
					width: 160px;
					height: 110px;
					line-height: 110px;
					color: #fff;
					font-size: 19px;
					overflow: hidden;
					font-style: normal;
					white-space: nowrap;
				}
				&:hover{
					background: @color-green;
					img{
						left: -110px;
					}
					span{
						left: 0;
						width: 60px;
						font-size: 22px;
					}
					em{
						top: 0;
					}
				}
			}
			&:nth-child(even){
				a{
					img{
						left: 110px;
					}
					span{
						left: 0;
					}
					em{
						left: 0;
						text-align: right;
					}
					&:hover{
						img{
							left: 220px;
						}
						span{
							left: 160px;
						}
						em{
							top: 0;
						}
					}
				}
			}
		}
	}
}
.mod_custom-uspechy{
	padding: 18px 20px;
	margin: 0 0 20px;
	min-height: 184px;
	background: @color-lightgreen;
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		color: #fff;
		padding: 0 0 0 36px;
		margin: 0 0 18px;
		text-transform: uppercase;
		&:before{
			.font-icon;
			content: '\e802';
			position: absolute;
			left: -6px;
			top: -7px;
			font-size: 32px;
			line-height: 1;
		}
	}
	ul{
		.reset-ul;
		margin: 0 0 14px;
		li{
			.reset-li;
			.font-header;
			font-size: 17px;
			line-height: 1;
			text-transform: uppercase;
			padding: 0 0 0 8px;
			margin: 0 0 7px;
			&:before{
				.font-header;
				content: '.';
				top: -5px;
				left: 0;
				font-size: 17px;
				color: @color-primary;
			}
		}
	}
	nav{
		position: relative;
		height: 22px;
		overflow: hidden;
		a{
			.font-spec;
			color: #fff;
			padding: 0 0 0 26px;
			&:before{
				.font-icon;
				content: '\e809';
				font-size: 22px;
				line-height: 1;
				position: absolute;
				left: 0;
				top: 0;
				color: @color-green;
			}
			span{
				.transition(0.1s);
				position: absolute;
				left: 100%;
				top: 2px;
			}
			&:hover{
				span{
					left: 26px;
				}
			}
		}
	}
}
.mod_custom-reminder{
	padding: 22px 20px 10px;
	margin: 0 0 20px;
	min-height: 188px;
	font-size: 13px;
	line-height: 1.1;
	background: @color-orange;
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		color: #fff;
		margin: 0 0 11px;
		text-transform: uppercase;
		small{
			.font-spec;
			font-size: 12px;
			line-height: 1.5;
			letter-spacing: 0.21em;
			display: block;
		}
	}
	.item{
		h2{
			.font-primary;
			margin: 0 0 5px;
			font-size: 13px;
			text-transform: none;
			font-weight: bold;
		}
		p{
			margin: 0 0 10px;
		}
	}
	nav{
		position: relative;
		height: 22px;
		overflow: hidden;
		a{
			.font-spec;
			color: #fff;
			padding: 0 0 0 26px;
			&:before{
				.font-icon;
				content: '\e809';
				font-size: 22px;
				line-height: 1;
				position: absolute;
				left: 0;
				top: 0;
				color: @color-red;
			}
			span{
				.transition(0.1s);
				position: absolute;
				left: 100%;
				font-size: 14px;
				line-height: 22px;
			}
			&:hover{
				span{
					left: 26px;
				}
			}
		}
	}
}
.mod_custom-calendar{
	position: relative;
	padding: 22px 20px 10px;
	margin: 0 0 20px;
	min-height: 188px;
	font-size: 13px;
	line-height: 1.1;
	background: @color-lightgreen;
	&:before{
		position: absolute;
		content: '';
		height: 20px;
		width: 100%;
		left: 0;
		bottom: 100%;
		background: url(../images/bg/05.png) no-repeat;
	}
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		color: #fff;
		margin: 0 0 11px;
		text-transform: uppercase;
		small{
			.font-spec;
			font-size: 12px;
			line-height: 1.5;
			letter-spacing: 0.21em;
			display: block;
		}
	}
	ul{
		.reset-ul;
		li{
			.reset-li;
			padding: 0 0 0 50px;
			margin: 0 0 14px;
			max-height: 30px;
			time{
				.font-spec;
				position: absolute;
				top: -1px;
				left: 0;
				font-size: 28px;
				line-height: 1;
				sup,sub{
					.font-header;
					font-size: 16px;
					top: 0;
				}
				sup{
					top: -9px;
					left: 0;
					margin: 0 -2px 0 0;
				}
				sub{
					top: 2px;
					left: -3px;
				}
			}
			a{
				color: @color-primary;
			}
		}
	}
}
.mod_custom-facebook{
	margin: 0 0 20px;
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		margin: 0 0 9px;
		text-transform: uppercase;
		color: @color-turq;
		a{
			color: @color-turq;
			text-decoration: none;
			&:hover{
				color: @color-green;
			}
			&:after{
				.font-icon;
				content: '\e817';
			}
		}
	}
	ul{
		.reset-ul;
		.clearfix;
		margin: 0 0 0 -2px;
		li{
			.reset-li;
			float: left;
			width: 53px;
			height: 53px;
			margin: 0 0 2px 2px;
			span{
				.transition(0.3s);
				.border-radius(27px);
				display: inline-block;
				height: 53px;
				width: 53px;
				line-height: 53px;
				text-align: center;
				font-size: 32px;
				background: @color-turq;
			}
			img{
				.transition(0.3s);
				.border-radius(27px);
			}
			a{
				color: #fff;
				text-decoration: none;
				&:hover{
					span,img{
						-webkit-transform: rotate(360deg);
						-moz-transform: rotate(360deg);
						-ms-transform: rotate(360deg);
						transform: rotate(360deg);
					}
				}
			}
		}
	}
}
.mod_banners{
	position: relative;
	width: 430px;
	padding: 27px 35px;
	float: left;
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		color: @color-blue;
		margin: 0 0 26px;
		text-transform: uppercase;
	}
	ul{
		.clearfix;
		.reset-ul;
		li{
			.reset-li;
			float: left;
			margin: 0 10px 10px 0;
		}
	}
	.cycle-carousel-wrap{
		width: 9999em;
	}
	.prev,.next{
		.transition(0.2s);
		position: absolute;
		left: -5px;
		bottom: 62px;
		font-size: 22px;
		line-height: 1;
		&:hover{
			color: @color-red;
		}
	}
	.next{
		left: auto;
		right: -5px;
	}
}
.mod_custom-certifikaty{
	position: relative;
	width: 180px;
	padding: 27px 0 19px;
	margin: 0 0 0 20px;
	float: left;
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		color: @color-blue;
		margin: 0 0 15px;
		text-transform: uppercase;
	}
	ul{
		.reset-ul;
		.clearfix;
		margin: 0 0 0 10px;
		li{
			.reset-li;
			float: left;
			margin: 0 0 4px 4px;
		}
	}
}
.mod_xnewsletter{
	width: 200px;
	float: left;
	padding: 27px 0;
	margin: 0 0 0 20px;
	font-size: 13px;
	line-height: 1.2;
	.mod-title{
		.font-header;
		position: relative;
		font-size: 25px;
		line-height: 1;
		color: @color-blue;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	p{
		margin: 0 0 15px;
	}
	form{
		.clearfix;
	}
	input[type=text],input[type=email]{
		.font-spec;
		float: left;
		border: 1px solid #ebece8;
		width: 138px;
		height: 17px;
		padding: 7px 10px;
		margin: 0 9px 0 0;
		font-size: 12px;
		background: #ebece8;
		outline: 0;
		&:focus{
			border-color: @color-blue;
		}
	}
	button{
		.transition(0.2s);
		position: relative;
		border: 0;
		margin: 0;
		padding: 0;
		width: 30px;
		height: 33px;
		background: none;
		text-indent: -999em;
		color: @color-green;
		&:hover{
			color: @color-red;
		}
		&:before{
			.font-icon;
			content: '\e809';
			text-indent: 0;
			position: absolute;
			top: 1px;
			left: 0;
			font-size: 28px;
			line-height: 1;
		}
	}
}
.mod_menu-footer{
	float: left;
	width: 500px;
	padding: 30px 0;
	ul{
		.reset-ul;
		li{
			.reset-li;
			float: left;
			font-size: 11px;
			text-transform: uppercase;
			margin: 0 27px 10px 0;
			white-space: nowrap;
			a{
				color: @color-primary;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-sidebar{
	margin: 0 0 20px;
	padding: 23px 27px 15px;
	background: @color-blue;
	.mod-title{
		.font-header;
		font-size: 21px;
		line-height: 1;
		color: #fff;
		margin: 0 0 13px;
		text-transform: uppercase;
	}
	ul{
		.reset-ul;
		li{
			.reset-li;
			margin: 0 0 4px;
			a{
				color: #fff;
				display: inline-block;
				position: relative;
				padding: 0 0 0 15px;
				line-height: 1.1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				&:before{
					.font-primary;
					content: '/';
					color: #fff;
					position: absolute;
					left: 0;
					top: 0;
					font-weight: bold;
				}
			}
			&.act{
				&>a{
					color: @color-green;
					font-weight: bold;
					&:before{
						color: @color-green;
					}
				}
			}
			ul{
				padding: 5px 0 1px 15px;
				li{
					font-size: 13px;
					a{
						padding-left: 13px;
						&:before{
							content: '\2022';
						}
					}
				}
			}
		}
	}
}