
.icon-globe:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-award:before { content: '\e802'; } /* '' */
.icon-angle-left:before { content: '\e803'; } /* '' */
.icon-angle-right:before { content: '\e804'; } /* '' */
.icon-angle-up:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\e806'; } /* '' */
.icon-down-circle:before { content: '\e807'; } /* '' */
.icon-left-circle:before { content: '\e808'; } /* '' */
.icon-right-circle:before { content: '\e809'; } /* '' */
.icon-up-circle:before { content: '\e80a'; } /* '' */
.icon-rss-alt:before { content: '\e80b'; } /* '' */
.icon-chat-inv:before { content: '\e80c'; } /* '' */
.icon-food:before { content: '\e80d'; } /* '' */
.icon-sun-inv:before { content: '\e80e'; } /* '' */
.icon-share:before { content: '\e80f'; } /* '' */
.icon-lock-open-alt:before { content: '\e810'; } /* '' */
.icon-cursor:before { content: '\e811'; } /* '' */
.icon-camera:before { content: '\e812'; } /* '' */
.icon-mobile-1:before { content: '\e813'; } /* '' */
.icon-eye:before { content: '\e814'; } /* '' */
.icon-video:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-thumbs-up:before { content: '\e817'; } /* '' */