@font-face {
  font-family: 'svetla-icons';
  src: url('../font/svetla-icons.eot?48939204');
  src: url('../font/svetla-icons.eot?48939204#iefix') format('embedded-opentype'),
       url('../font/svetla-icons.woff?48939204') format('woff'),
       url('../font/svetla-icons.ttf?48939204') format('truetype'),
       url('../font/svetla-icons.svg?48939204#svetla-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'svetla-icons';
    src: url('../font/svetla-icons.svg?48939204#svetla-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "svetla-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-globe:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-award:before { content: '\e802'; } /* '' */
.icon-angle-left:before { content: '\e803'; } /* '' */
.icon-angle-right:before { content: '\e804'; } /* '' */
.icon-angle-up:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\e806'; } /* '' */
.icon-down-circle:before { content: '\e807'; } /* '' */
.icon-left-circle:before { content: '\e808'; } /* '' */
.icon-right-circle:before { content: '\e809'; } /* '' */
.icon-up-circle:before { content: '\e80a'; } /* '' */
.icon-rss-alt:before { content: '\e80b'; } /* '' */
.icon-chat-inv:before { content: '\e80c'; } /* '' */
.icon-food:before { content: '\e80d'; } /* '' */
.icon-sun-inv:before { content: '\e80e'; } /* '' */
.icon-share:before { content: '\e80f'; } /* '' */
.icon-lock-open-alt:before { content: '\e810'; } /* '' */
.icon-cursor:before { content: '\e811'; } /* '' */
.icon-camera:before { content: '\e812'; } /* '' */
.icon-mobile-1:before { content: '\e813'; } /* '' */
.icon-eye:before { content: '\e814'; } /* '' */
.icon-video:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-thumbs-up:before { content: '\e817'; } /* '' */